
<div class="container ovs-content">

	<div class="row">
		<div class="col-md-3 ovs-mobile-menu">
			<ul class="nav nav-pills nav-stacked red">
				<li>
					<%= link_to group_path(:group_id => @group.id) do %>
						<strong>Votações</strong>
					<% end %>
				</li>
				<li>
					<%= link_to lists_path(:group_id => @group.id) do %>
						<strong>Lugares</strong>
					<% end %>
				</li>

			</ul>
		</div>
		
		<div class="col-md-9">
			<h2>Alterar nome:</h2>
			<%= form_for(@group) do |f| %>
			<div class="input-group input-group-lg">
		    <%= f.text_field :name, :class => "form-control", :placeholder => "Nome do grupo, pode ser qualquer coisa!"%>
		    <span class="input-group-btn">
		      <button class="btn btn-success" type="submit"><span class="glyphicon glyphicon-floppy-save"></span></button>
		    </span>
		  </div>
		  <% end %>
		</div>
	</div>
</div>
