body {
	margin-top: 50px;
}

.ovs-content {
	margin-top: 75px;
}

.ovs-nav-button {
	margin-top: 8px;
	margin-left: 3px;
}

.ovs-default-margin {
	position: relative;
	left: 20%;
	top: 200px;
	width: 60%;
	



	h1 {
		font-size: 4em;
	}
}

.active {
	a {
		color: red;
	}
}

.nav-pills>li.active>a {
	color:#fff;background-color:#222
}

.nav-pills>li.active>a:hover {
	color:#fff;background-color:#222
}

.nav-pills>li>a {
	color:#222;
}

.nav-pills>li>a:hover {
	color:#222;
}

.ovs-pull-right {
	display: block;
	float: right;
}

a:hover {
	text-decoration: none;
}


@media screen and (max-width: 768px) {

	.ovs-mobile-menu {
		margin-bottom: 20px;
	}

	.ovs-default-margin {
		left: 10%;
		width: 80%;
		top: 150px
	}

}

@media screen and (max-width: 400px) {

	.ovs-default-margin {
		left: 10%;
		width: 80%;
		margin: 0px 0px;
		top: 75px;
	}	
}